{% extends 'profiles.html' %}
{% block title %}PLIS-修改Email{% endblock %}
{% block main %}
    <form method="POST" class="card" novalidate="" action="{% url 'change_email' %}">
    {% csrf_token %}
    <div class="card-header">
        <div class="card-title">修改用户信息</div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="disableinput">用户名</label>
            <input type="text" class="form-control" id="disableinput" placeholder="{{ user.username }}" disabled>
        </div>
        <div class="form-group">
            <label for="disableinput">邮箱</label>
            <input type="email" class="form-control" name="email" placeholder="{{ user.email }}">
        </div>
    </div>
    <div class="card-action">
        <button type="submit" class="btn btn-success">提交修改</button>
        <button class="btn btn-danger">取消</button>
    </div>
    </form>
{% endblock %}