{% extends 'index.html' %}
{% block title %}PLIS-{{ blogs.title }}{% endblock %}
{% block sidebar %}
	<li class="nav-item">
		<a href="{% url 'homepage' %}">
			<i class="la la-dashboard"></i>
			<p>主页</p>
		</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'order' %}">
			<i class="la la-table"></i>
			<p>订单管理</p>
		</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'ships' %}">
			<i class="la la-keyboard-o"></i>
			<p>船舶管理</p>
		</a>
	</li>
	<li class="nav-item active">
		<a href="/notification/list/1">
			<i class="la la-th"></i>
			<p>通知</p>
			<span class="badge badge-count">6</span>
		</a>
	</li>
	{% if user.is_staff  %}
	<li class="nav-item">
		<a href="/admin">
			<i class="la la-font"></i>
			<p>管理员界面</p>
		</a>
	</li>
	{% endif %}
	<li class="nav-item">
		<a href="{% url 'profile' %}">
			<i class="la la-fonticons"></i>
			<p>账户设置</p>
		</a>
	</li>
{% endblock %}
{% block main-panel %}
    <div class="content">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
               <a href="/notification/list/{{ infer }}" class="btn-group-toggle">返回</a>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">{{ blogs.title }}</h5>
                <div class="card-text text-center">{{ blogs.publish_time|date:"Y-m-d" }}</div>
                <hr>
              <p class="card-text">{{ blogs.content|safe }}</p>
                <hr>
            </div>
         </div>
    </div>
    </div>
{% endblock %}