{% extends 'ordermanage.html' %}
{% block title %}PLIS-订单详情{% endblock %}
{% block main-panel %}
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                  <div class="card-title">订单详情</div>
              </div>
              <div class="card-body">
                <table class="table table-striped mt-3">
                  <tr>
                    <th scope="col">订单编号</th>
                    <td>{{ order.order_id }}</td>
                  </tr>
                   <tr>
                    <th scope="col">订单生成时间</th>
                    <td>{{ order.create_time }}</td>
                  </tr>
                  <tr>
                    <th scope="col">货物种类</th>
                    <td>{{ order.goods_name }}</td>
                  </tr>
                  <tr>
                    <th scope="col">所属公司</th>
                    <td>{{ order.cargo_owner }}</td>
                  </tr>
                  <tr>
                    <th scope="col">货物数量</th>
                    <td>{{ order.goods_amount }}{{ order.unit }}</td>
                  </tr>
                  <tr>
                    <th scope="col">目的港</th>
                    <td>{{ order.target_port }}</td>
                  </tr>
                  <tr>
                    <th scope="col">实际到货时间</th>
                    <td>{{ order.arrive_time }}</td>
                  </tr>
                    <tr>
                    <th scope="col">使用船只</th>
                    <td><a href="{% url 'ship_detail' order.ship_use.ship_id %}">{{ order.ship_use }}</a></td>
                  </tr>
                  <tr>
                    <th scope="col">订单负责人</th>
                    <td>{{ order.manager }}</td>
                  </tr>
                  <tr>
                    <th scope="col">完成情况</th>
                    <td>
                      {% if order.order_status == False %}
                          未完成
                      {% else %}
                          已完成
                      {% endif %}
                    </td>
                  </tr>
                </table>
                <table class="table table-striped table-striped-bg-default mt-3">
                    <a href="{% url 'order' 1 %}"><button class="btn btn-danger" type="button">返回订单页</button></a>
                </table>
              </div>
            </div>
            {% if order.order_status == False %}
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">确认订单已完成</h4>
              </div>
               <div class="card-body">
                   <p class="text-warning">订单是否已经完成？注意：此项操作不可逆</p>
                   <form method="POST" novalidate="" action="{% url 'order_detail' order.order_id %}">
                       {% csrf_token %}
                       <button type="submit" class="btn btn-success" name="ensure">确认完成</button>
                  </form>
               </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}