{% extends 'ordermanage.html' %}
{% block title %}PLIS-添加订单{% endblock %}
{% block main-panel %}
<div class="content">
      <div class="container-fluid">
        <h4 class="page-title">订单数据输入</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <div class="card-title">基础数据输入</div>
              </div>
              <div class="card-body">
              {% if message %}
                  <p>订单<a href="{% url 'order_detail' message %}">{{ message }}</a>创建成功!</p>
              {% endif %}
               <form method="POST" class="my-login-validation" novalidate="" action="{% url 'new_order' %}">
                   {% csrf_token %}
                    {% for field in Order_form %}
                        <h5><label for="{{ field.id_for_label }}" >{{ field.label }}</label></h5>
                          {{ field }}
                         <p class="text-danger">{{ field.errors.as_text }}</p>
                    {% endfor %}
              <div class="card-action">
                <button class="btn btn-success">确认添加</button>
                <a href="#"><button class="btn btn-danger">返回</button></a>
              </div>
               </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}