{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>PLIS-账户设置</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="{% static 'assets/css/ready.css'%}">
	<link rel="stylesheet" href="{% static 'assets/css/demo.css'%}">
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">

				<a href="index.html" class="logo">
					港口物流信息系统
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">

					<form class="navbar-left navbar-form nav-search mr-md-3" action="">
						<div class="input-group">
							<input type="text" placeholder="Search ..." class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
							</div>
						</div>
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="{% static 'assets/img/profile.jpg'%}" alt="user-img" width="36" class="img-circle"><span >{{ user.username }}</span></span> </a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img"><img src="{% static 'assets/img/profile.jpg'%}" alt="user"></div>
										<div class="u-text">
											<h4>{{ user.username }}</h4>
											<p class="text-muted">{{ user.email }}</p><a href="{% url 'profile' %}" class="btn btn-rounded btn-danger btn-sm">查看个人信息</a></div>
										</div>
									</li>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-power-off"></i> 登出</a>
								</ul>
								<!-- /.dropdown-user -->
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<div class="sidebar">
				<div class="scrollbar-inner sidebar-wrapper">
					<ul class="nav">
						<li class="nav-item">
							<a href="{% url 'homepage' %}">
								<i class="la la-dashboard"></i>
								<p>主页</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'order' %}">
								<i class="la la-table"></i>
								<p>订单管理</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'ships' %}">
								<i class="la la-keyboard-o"></i>
								<p>船舶管理</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="notifications">
								<i class="la la-th"></i>
								<p>通知</p>
								<span class="badge badge-count">6</span>
							</a>
						</li>
                        {% if user.is_staff  %}
						<li class="nav-item">
							<a href="admin">
								<i class="la la-font"></i>
								<p>管理员界面</p>
							</a>
						</li>
                        {% endif %}
						<li class="nav-item active">
							<a href="{% url 'profile' %}">
								<i class="la la-fonticons"></i>
								<p>账户设置</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
                <div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						<h4 class="page-title">账户设置</h4>
						<div class="row">
							<div class="col-md-6">
                                <form method="POST" class="card" novalidate="" action="{% url 'profile' %}">
									<div class="card-header">
										<div class="card-title">修改用户信息</div>
									</div>
									<div class="card-body">
                                        <div class="form-group">
											<label for="disableinput">用户名</label>
											<input type="text" class="form-control" id="disableinput" placeholder="{{ user.username }}" disabled>
										</div>
                                        <div class="form-group">
											<label for="disableinput">邮箱</label>
											<input type="email" class="form-control" id="disableinput" placeholder="{{ user.email }}" disabled>
										</div>
                                        {% csrf_token %}
                                        {% for field in Profile_form %}
                                            <div class="form-group">
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            {{ field }}
                                            </div>
                                            <p class="text-danger">{{ field.errors.as_text }}</p>
                                        {% endfor %}
										</div>
										<div class="card-action">
											<button type="submit" class="btn btn-success">提交修改</button>
											<button class="btn btn-danger">取消</button>
										</div>
                                </form>
									</div>
								</div>
							</div>
						</div>
					</div>
				<footer class="footer">
					<div class="container-fluid">
						<nav class="pull-left">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="#">
										<<回到页首
									</a>
								</li>
							</ul>
						</nav>
						<div class="copyright ml-auto">
							Copyright © 2018 —  <a href="#">Port Logistics Information System</a>
					</div>
				</footer>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h6 class="modal-title"><i class="la la-frown-o"></i> Under Development</h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="{% static 'assets/js/core/jquery.3.2.1.min.js'%}"></script>
<script src="{% static 'assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js'%}"></script>
<script src="{% static 'assets/js/core/popper.min.js'%}"></script>
<script src="{% static 'assets/js/core/bootstrap.min.js'%}"></script>
<script src="{% static 'assets/js/plugin/chartist/chartist.min.js'%}"></script>
<script src="{% static 'assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js'%}"></script>
<script src="{% static 'assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js'%}"></script>
<script src="{% static 'assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js'%}"></script>
<script src="{% static 'assets/js/plugin/jquery-mapael/jquery.mapael.min.js'%}"></script>
<script src="{% static 'assets/js/plugin/jquery-mapael/maps/world_countries.min.js'%}"></script>
<script src="{% static 'assets/js/plugin/chart-circle/circles.min.js'%}"></script>
<script src="{% static 'assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js'%}"></script>
<script src="{% static 'assets/js/ready.min.js'%}"></script>
</html>