{% extends 'index.html' %}
{% block title %}PLIS-用户设置{% endblock %}
{% block sidebar %}
	<li class="nav-item">
		<a href="{% url 'homepage' %}">
			<i class="la la-dashboard"></i>
			<p>主页</p>
		</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'order' %}">
			<i class="la la-table"></i>
			<p>订单管理</p>
		</a>
	</li>
	<li class="nav-item">
		<a href="{% url 'ships' %}">
			<i class="la la-keyboard-o"></i>
			<p>船舶管理</p>
		</a>
	</li>
	<li class="nav-item">
		<a href="notifications">
			<i class="la la-th"></i>
			<p>通知</p>
			<span class="badge badge-count">6</span>
		</a>
	</li>
	{% if user.is_staff  %}
	<li class="nav-item">
		<a href="admin">
			<i class="la la-font"></i>
			<p>管理员界面</p>
		</a>
	</li>
	{% endif %}
	<li class="nav-item active">
		<a href="{% url 'profile' %}">
			<i class="la la-fonticons"></i>
			<p>账户设置</p>
		</a>
	</li>
{% endblock %}
{% block main-panel %}
    <div class="content">
    	<div class="container-fluid">
    		<h4 class="page-title">账户设置</h4>
    		<div class="row">
    			<div class="col-md-6" name="main">
    			{% block main %}
    				<form method="POST" class="card" novalidate="" action="{% url 'profile' %}">
    					<div class="card-header">
    						<div class="card-title">修改用户信息</div>
    					</div>
    					<div class="card-body">
    						<div class="form-group">
    							<label for="disableinput">用户名</label>
    							<input type="text" class="form-control" id="disableinput" placeholder="{{ user.username }}" disabled>
    						</div>
    						<div class="form-group">
    							<label for="disableinput">邮箱</label>
    							<a href="{% url 'change_email' %}" class="btn btn-link">修改</a>
    							<input type="email" class="form-control" id="disableinput" placeholder="{{ user.email }}" disabled>
    						</div>
    						{% csrf_token %}
    						{% for field in Profile_form %}
    							<div class="form-group">
    							<label for="{{ field.id_for_label }}">{{ field.label }}</label>
    							{{ field }}
    							</div>
    							<p class="text-danger">{{ field.errors.as_text }}</p>
    						{% endfor %}
    						</div>
    						<div class="card-action">
    							<button type="submit" class="btn btn-success">提交修改</button>
    							<button class="btn btn-danger">取消</button>
    						</div>
    				</form>
    			{% endblock %}
    			</div>
    		</div>
    	</div>
    </div>
{% endblock %}